### Perform imports and load the dataset into a pandas DataFrame
`'../TextFiles/moviereviews2.tsv'`

In [1]:
import numpy as np
import pandas as pd

df = pd.read_csv('../TextFiles/moviereviews2.tsv', sep='\t')

In [2]:
df.head()

  label                                             review
0   pos  I loved this movie and will watch it again. Or...
1   pos  A warm, touching movie that has a fantasy-like...
2   pos  I was not expecting the powerful filmmaking ex...
3   neg  This so-called "documentary" tries to tell tha...
4   pos  This show has been my escape from reality for ...

In [3]:
len(df)

6000

### Check for missing values:

In [4]:
# Check for NaN values:
df.isnull().sum()

label      0
review    20
dtype: int64

In [5]:
df.dropna(inplace=True)

In [6]:
df.isnull().sum()

label     0
review    0
dtype: int64

In [7]:
# Check for whitespace strings (it's OK if there aren't any!):
blanks= []

for i,lb, rv in df.itertuples():
    if rv.isspace ():
        blanks.append(i)

In [8]:
blanks

[]

### Remove NaN values:

In [9]:
df.drop(blanks,inplace=True)

In [10]:
len(df)

5980

### Take a quick look at the `label` column:

In [26]:
df['label'].value_counts()

neg    2990
pos    2990
Name: label, dtype: int64

### Split the data into train & test sets:

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X = df['review']

In [18]:
y= df['label']

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

### Build a pipeline to vectorize the date, then train and fit a model

In [20]:
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC

text_clf = Pipeline([('tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

# Feed the training data through the pipeline
text_clf.fit(X_train, y_train)

Pipeline(steps=[('tfidf', TfidfVectorizer()), ('clf', LinearSVC())])

### Run predictions and analyze the results

In [21]:
# Form a prediction set
predictions =text_clf.predict(X_test)

In [22]:
# Report the confusion matrix
from sklearn.metrics import confusion_matrix, classification_report,classification_report, accuracy_score

print (confusion_matrix(y_test, predictions))

[[900  91]
 [ 63 920]]

In [24]:
# Print a classification report
print (classification_report(y_test, predictions))

              precision    recall  f1-score   support

         neg       0.93      0.91      0.92       991
         pos       0.91      0.94      0.92       983

    accuracy                           0.92      1974
   macro avg       0.92      0.92      0.92      1974
weighted avg       0.92      0.92      0.92      1974

In [25]:
# Print the overall accuracy
print (accuracy_score(y_test,predictions))

0.9219858156028369